* {
    font-family: 'Roboto Mono', monospace;
    background-color: thistle;
    text-align: center;
}

body {
    height: 310px;
    width: 350px;
    background-color: thistle;
    
}

/* center img */
img {
    width: 180px;
    height: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    font-size: 18px;
    border-radius: 12px;
    display: inline-block;
    text-align: center;
}

button:hover {
    background-color: #886F88;
}

.timer {
    font-size: 35px;
}

h1 {
    text-align: center;
    font-size: 26px;
}

/* center page horizontally and vertically  */
div.container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

.divider {
    width: 10px;
    height: auto;
    display: inline-block;
}